<?php
	require_once('application.php');
	header("Content-type: text/css");

	$root = $OPT->enigmaroot;

	//main page backgound
	$MainFG			=	"#000000";	//black
	$MainBG			=	"#ffffff";	//white

	//panel backgound
	$PanelFG			=	"#000000";	//black
	$PanelBG			=	"#ffffff";	//white

	//contrasts (with main), such as titles
	$MainFGcon		=	"#B1D9FF"; //blue
	$MainBGcon		=	"#222288";	//dark blue

	//inverted, for title bars, etc
	$MainFGinv		=	"#ffffff";	//white
	$MainBGinv		=	"#090f70";	//dark blue
	$MainFGfaint	=	"#6666ff";	//faint blue
	$MainBGfaint	=	"#ddddff";	//gray
	$MainFGhint		=	"#B40000";	//red
	$MainFGsel		=	"#ffffff";	//white
	$MainBGsel		=	"#BC4E89";	//purple	

	$MainBGcritical=	"#ff8888"; //light red, salmon
	$MainFGcritical=	"#aa0000"; //dark red
	$MainFGexprice =	"#bbbbbb"; //

	$theme['default']['bg'] = '#ffffff';
	$theme['default']['fg'] = '#000000';
	$theme['default']['bg_alternate_a'] = '#dddddd';
	$theme['default']['fg_alternate_a'] = '#000000';
	$theme['default']['bg_alternate_b'] = '#ffffff';
	$theme['default']['fg_alternate_b'] = '#000000';
	$theme['default']['border'] = '#090f70';
	$theme['default']['selected_bg'] = '#c5dcfe';
	$theme['default']['selected_fg'] = '#000000';
	$theme['default']['title_bg'] = '#090f70';
	$theme['default']['title_fg'] = '#ffffff';
	$theme['default']['title_selected'] = '#bc4e89';
	$theme['default']['divider'] = '#cfe1fc';

	$theme['grey'] = $theme['default'];
	$theme['grey']['border'] = '#000';
	$theme['grey']['selected_bg'] = '#bbb';
	$theme['grey']['title_bg'] = '#333';

	$theme['lightgrey'] = $theme['grey'];
	$theme['lightgrey']['title_bg'] = '#bbb';
	$theme['lightgrey']['border'] = '#333';

	$theme['blue']['bg'] = '#ffffff';
	$theme['blue']['fg'] = '#000000';
	$theme['blue']['bg_alternate_a'] = '#dddddd';
	$theme['blue']['fg_alternate_a'] = '#000000';
	$theme['blue']['bg_alternate_b'] = '#ffffff';
	$theme['blue']['fg_alternate_b'] = '#000000';
	$theme['blue']['border'] = '#090f70';
	$theme['blue']['selected_bg'] = '#c5dcfe';
	$theme['blue']['selected_fg'] = '#000000';
	$theme['blue']['title_bg'] = '#090f70';
	$theme['blue']['title_fg'] = '#ffffff';
	$theme['blue']['title_selected'] = '#bc4e89';
	$theme['blue']['divider'] = '#cfe1fc';

	$theme['sky'] = $theme['default'];
	$theme['sky']['border'] = '#72b5ca'; 
	$theme['sky']['title_bg'] = '#72b5ca';

	$theme['red'] = $theme['default'];
	$theme['red']['bg'] = '#ffeeee';
	$theme['red']['border'] = '#b40000';
	$theme['red']['title_bg'] = '#b40000';
	$theme['red']['title_bg'] = '#b40000';
	$theme['red']['selected_bg'] = 'rgb(255,94,0)';
	$theme['red']['selected_fg'] = '#ffeeee';

	$theme['yellow'] = $theme['default'];
	$theme['yellow']['bg'] = '#ffffcc';
	$theme['yellow']['fg'] = '#ffffff';
	$theme['yellow']['border'] = '#dddd00'; 
	$theme['yellow']['title_bg'] = '#ffff00';
	$theme['yellow']['title_fg'] = '#555500';

	$theme['blue_2'] = $theme['default'];
	$theme['blue_2']['title_bg'] = 'rgb(0,187,255)';
	$theme['blue_2']['title_fg'] = '#000000';
	$theme['blue_2']['border'] = '#000000';
	
	$panel['default'] = $theme['grey'];
	$panel['info'] = $theme['yellow'];
	$panel['details'] = $theme['red'];
	$panel['related'] = $theme['lightgrey'];
	$panel['basket'] = $theme['red'];

	$pagetabs = $theme['grey'];
	$icons = $theme['red'];

	//fonts
	$BaseFontSize = 12;
	$BaseFontWeight = 400;
	$BaseFontFamily = "Arial, Helvetica, sans-serif";
	$FixedFontFamily = "Lucida Console, Courier, serif";
?>

body {
	color:						<?=$MainFG?>;
	background-color: <?=$MainBG?>;
	font-family:			<?=$BaseFontFamily?>;
	font-size:				<?=$BaseFontSize?>px;
	font-weight:			<?=$BaseFontWeight?>;
	text-align:			 left;
	margin: 0px;
	padding: 0px;
}

#outer {
	/*
	position: absolute;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	*/
	padding: 0px;
	width: 100%;
}

img {
	border: none;
	vertical-align: middle;
}


h1 {
	color:						<?=$MainBGinv?>;
	font-size:				<?=$BaseFontSize*1.5?>px;
}

h3.emphasis {
	color: red;
}

form {
	margin: 0px;
	padding: 0px;	
}
input, textarea {
	font-family:			<?=$BaseFontFamily?>;
	font-size:				<?=$BaseFontSize?>px;
}

a {
	color:						<?=$MainFG?>;
	text-decoration:	none;
}
a:visited {
	color:						<?=$MainFG?>;
	text-decoration:	none;
}
a:hover {
	text-decoration:	underline;
}
a.obvious, a.obvious:visited {
	color:				<?=$MainBGinv?>;
	text-decoration:	underline;
}
a.obvious:hover {
	color:				<?=$MainBGsel?>;
	text-decoration:	underline;
}
a.itemlink, a.itemlink:visited {
	color:				<?=$MainBGinv?>;
	text-decoration:	underline;
}
a.itemlink:hover {
	color:				<?=$MainBGsel?>;
	text-decoration:	underline;
}
a.email, a.email:visited {
	color:				<?=$MainBGinv?>;
	text-decoration:	underline;
}
a.email:hover {
	color:				<?=$MainBGsel?>;
	text-decoration:	underline;
}

td {
	font-family:	<?=$BaseFontFamily?>;
	font-size:	<?=$BaseFontSize?>px;
	vertical-align: top;
}

dl {
	font-weight:			<?=$BaseFontWeight*1.5?>;
}
dd {
	color:						$panel['related']['fg'];
	background-color:	$panel['related']['bg'];
	font-weight:			<?=$BaseFontWeight?>;
}

table.shrink {
	width:	90%;
	margin: 0 auto;
}

div {
	margin: 0;
	padding: 0;
}

div.boxed {
	border: 1px solid <?=$MainFGfaint?>;
}


div.deleted {
	background:url('<?=$root?>img/ui/bg_deleted.gif');
}

strong.required {
	color:	<?=$theme['red']['title_bg']?>;
}

/* -------------------------------------------------------------------------
	The set of CRITICAL table classes are for the alerts at the top of page
	------------------------------------------------------------------------- */
table.critical {
	width: 100%;
	background: <?=$MainBGcritical?>;
	color:	<?=$MainFGcritical?>;
	border: 1px solid <?=$MainBGsel?>;
}

/* -------------------------------------------------------------------------
	The set of PANEL table classes make nice little boxed areas
	------------------------------------------------------------------------- */
table.panel {
	color:						<?=$panel['default']['fg']?>;
	background-color: <?=$panel['default']['bg']?>;
	padding: 0px;
	margin:	0 auto;
	width:	100%;
	border:	2px solid <?=$panel['default']['border']?>;
}
table.panel td {
	font-size:	<?=$BaseFontSize?>px;
	padding:		0px 3px;
	vertical-align:	top;
}
table.panel tr.header td {
	color:						<?=$panel['default']['title_fg']?>;
	background-color: <?=$panel['default']['title_bg']?>;
	padding:					1px 3px;
	margin:					0px;
	border-top:			none;
	vertical-align:	middle;
}
table.panel tr.item_header td {
	font-size:			1.3em;
	color:						<?=$panel['default']['title_fg']?>;
	background-color: <?=$panel['default']['title_bg']?>;
	padding:					1px 3px;
	margin:					0px;
	border-top:			none;
	vertical-align:	middle;
}
table.panel tr.header img {
	vertical-align:	middle;
}
table.panel tr.header a {
	font-size:				<?=$BaseFontSize*1?>px;
	color:						<?=$panel['default']['title_fg']?>;
	background-color: <?=$panel['default']['title_bg']?>;
}
table.panel tr.header a.current {
	font-weight:		<?=$BaseFontWeight+200?>;
}
table.panel tr.subheader td {
	font-weight:		<?=$BaseFontWeight+200?>;
	padding:				0px 2px 0px 2px;
	border-top:			1px solid <?=$panel['default']['border']?>;
}
table.panel tr.caption td {
	font-weight:		<?=$BaseFontWeight+200?>;
	padding:				0px 2px 0px 2px;
}
table.panel tr.list td {
	border-top: 1px solid <?=$panel['default']['selected_fg']?>;
}
table.panel tr.listfaint td {
	border-top: 1px solid <?=$panel['default']['divider']?>;
}
table.panel tr.listunavailable td,
table.panel tr.listunavailable td a {
	color:						<?=$panel['default']['fg']?>;
	background-color: <?=$panel['default']['divider']?>;
	border-top: 1px solid <?=$panel['default']['bg']?>;
}

table.panel tr.unavailable td a {
	color:						<?=$panel['default']['fg']?>;
	background-color: <?=$panel['default']['divider']?>;
}

table.panel tr.listdeleted td,
table.panel tr.listdeleted a {
	color:						<?=$panel['default']['border']?>;
	background-color: <?=$panel['default']['bg']?>;
	border-top: 1px solid <?=$panel['default']['border']?>;
}

table.panel tr.current td {
	color:						<?=$panel['default']['selected_bg']?>;
	background-color: <?=$panel['default']['selected_bg']?>;
	xborder-top:			1px solid <?=$panel['default']['border']?>;;
}
table.panel tr.current a {
	color:						<?=$panel['default']['selected_fg']?>;
	background-color: <?=$panel['default']['selected_bg']?>;
}
table.panel td.spacious {
	padding: 10px;
	vertical-align: top;
}
table.panel td.roomy {
	padding: 4px;
	vertical-align: top;
}
table.panel td.indent {
	font-size:	<?=$BaseFontSize?>px;
	padding:		0px 3px 0px 12px;
	vertical-align:	middle;
	text-indent: -8px;
}
table.panel tr.mid td {
	vertical-align: middle;
}

table.panel tr.row_a td {
	background-color: <?=$panel['default']['bg_alternate_a']?>;
	color: <?=$panel['default']['fg_alternate_a']?>;
}
table.panel tr.row_b td {
	background-color: <?=$panel['default']['bg_alternate_b']?>;
	color: <?=$panel['default']['fg_alternate_b']?>;
}

.related table.panel {
	color:						<?=$panel['related']['fg']?>;
	background-color: <?=$panel['related']['bg']?>;
	padding: 0px;
	margin:	0 auto;
	width:	100%;
	border:	2px solid <?=$panel['related']['border']?>;
}

.related table.panel tr.header td {
	color:						<?=$panel['related']['title_fg']?>;
	background-color: <?=$panel['related']['title_bg']?>;
	padding:					1px 3px;
	margin:					0px;
	border-top:			none;
	vertical-align:	middle;
}

.minibasket table.panel {
	color:						<?=$panel['basket']['fg']?>;
	background-color: <?=$panel['basket']['bg']?>;
	padding: 0px;
	margin:	0 auto;
	width:	100%;
	border:	2px solid <?=$panel['basket']['border']?>;
}

.minibasket table.panel tr.header td {
	color:						<?=$panel['basket']['title_fg']?>;
	background-color: <?=$panel['basket']['title_bg']?>;
	padding:					1px 3px;
	margin:					0px;
	border-top:			none;
	vertical-align:	middle;
}

.minibasket table.panel tr.header a {
	font-size:				<?=$BaseFontSize*1?>px;
	color:						<?=$panel['basket']['title_fg']?>;
	background-color: <?=$panel['basket']['title_bg']?>;
}


.basket table.panel {
	width: 60%;
}

/* -------------------------------------------------------------------------
	The GRID table classes make nice little graph areas
	------------------------------------------------------------------------- */
table.grid {
	vertical-align: middle;
}

table.grid tr.first td {
	border-top: 1px solid <?=$panel['details']['border']?>;
}

table.grid tr.sepparator td {
	border-top: 2px solid <?=$panel['details']['border']?>;
}

table.grid td.first {
	border-left: 1px solid <?=$panel['details']['border']?>;
}

table.grid td {
	border-right: 1px solid <?=$panel['details']['border']?>;
	border-bottom: 1px solid <?=$panel['details']['border']?>;
	vertical-align: middle;
	padding: 0px 5px;
}

table.grid tr.header td {
	color:						<?=$panel['details']['title_fg']?>;
	background-color: <?=$panel['details']['title_bg']?>;
	border: none;
	vertical-align: bottom;
}

table.grid tr.boldheader td {
	color:						<?=$panel['details']['title_fg']?>;
	background-color: <?=$panel['details']['title_bg']?>;
	border: none;
	vertical-align: bottom;
}

table.grid td.boldcurrency {
	font-weight:		<?=$BaseFontWeight+200?>;
	text-align: right;
}

table.grid select {
	font-size: 0.9em;
}

table.grid td.clear {
	border: none;
}

table.grid td.spacer {
	width: 0.3em;
	background-color: <?=$panel['details']['title_bg']?>;
}
/* -------------------------------------------------------------------------
	Wizard styles
	------------------------------------------------------------------------- */
table.wizard {
	width: 100%;
	height: 600px;
	background-color: #ffffcc;
}

table.wizard tr.header td {
	font-weight: <?=$BaseFontWeight+200?>;
	text-align: center;
}

table.wizard td h1 {
	text-align: center;
	color: white;
}
table.wizard td h2 {
	font-size: 2em;
	text-align: center;
	color: #ffcc99;
}

table.wizard td.new_item {
	width: 150px;
	height: 400px;
	background-repeat: no-repeat;
}

table.wizard td.buttons {
	vertical-align: bottom;
	margin: 0;
	padding: 10px;
	text-align: right;
}

table.wizard td.print_item {
	width: 150px;
	height: 400px;
	background-repeat: no-repeat;
}

/* ---- */
div.label_a {
	width: 162mm;
	height: 76mm;
	border: 1px solid black;
	overflow: hidden;
}
div.label_a table {
	width: 162mm;
	height: 76mm;
}
div.label_a td {
	vertical-align: middle;
	font-size: 24pt;
	text-align: center;
	overflow: hidden;
}
/* ---- */
div.label_b {
	width: 115mm;
	height: 35mm;
	border: 1px solid black;
	overflow: hidden;
}
div.label_b table {
	width: 115mm;
	height: 35mm;
}
div.label_b td {
	vertical-align: middle;
	font-size: 16pt;
	text-align: center;
	overflow: hidden;
}
/* ---- */
div.label_c {
	width: 75mm;
	height: 22mm;
	border: 1px solid black;
	overflow: hidden;
}
div.label_c table {
	width: 75mm;
	height: 22mm;
}
div.label_c td {
	vertical-align: middle;
	font-size: 12pt;
	text-align: center;
	overflow: hidden;
}

/* -------------------------------------------------------------------------
	These are some general classes
	------------------------------------------------------------------------- */
.border {
	border: 1px solid black;
}

.right, .currency, .numeric, .currencybuy, .currencyrrp {
	text-align: right;
}
.currencywarning {
	text-align: right;
	background-color: #ffaaaa;
}
.currencyrrp {
	color: <?=$MainFGexprice?>;
	font-style: italic;
}
.currencybuy {
	font-weight: bold;
}

.centre {
	text-align:		center;
}

.centre table {
	margin-left:	auto;
	margin-right:	auto;
}

.stockcode {
	font-family:			<?=$FixedFontFamily?>;
	font-size:				<?=$BaseFontSize*0.85?>px;
	font-weight:			<?=$BaseFontWeight?>;
	color:						<?=$MainFG?>;
	vertical-align:		middle;
}
.buy, .buy:visited {
	color:				    <?=$panel['default']['title_bg']?>;
	background-color:	<?=$panel['default']['bg']?>;
	font-style:				italic;
}
.articlebuy, .articlebuy:visited {
	color:				<?=$MainFGcon?>;
	background-color:	<?=$MainBG?>;
	font-size:				<?=$BaseFontSize*1.2?>px;
	font-weight:			<?=$BaseFontWeight*2?>;
}
.copyright {
	font-size: <?=$BaseFontSize*0.9?>px;
}

.error {
	color:	<?=$MainFGcritical?>;
	background-color:	<?=$MainBGcritical?>;
	border: 1px solid <?=$MainFGcritical?>;
}

/* -------------------------------------------------------------------------
	The PAGETABS table classes make the tabs used by the sub-categories
	------------------------------------------------------------------------- */
table.pagetabs tr.header td {
	font-size:				1.0em;
	vertical-align:		middle;
	padding:					1px 10px;
	margin:						0px;
	text-align:				center;
	height:					4em;
}

table.pagetabs tr.header td.selected {
	color:						<?=$pagetabs['selected_fg']?>;
	background-color:	<?=$pagetabs['selected_bg']?>;
	padding:					0px 3px 0px 10px;
	margin:						0px 3px 0px 10px;
}

table.pagetabs tr.header td.unselected {
	color:						<?=$pagetabs['title_fg']?>;
	background-color:	<?=$pagetabs['title_bg']?>;
	padding:					0px 10px;
	margin:						0px;
	border:						1px solid <?=$pagetabs['border']?>;
}

table.pagetabs tr.header a {
	color:						<?=$pagetabs['title_fg']?>;
	background-color:	<?=$pagetabs['title_bg']?>;
}

table.pagetabs tr.header td.selected a {
	color:						<?=$pagetabs['selected_fg']?>;
	background-color:	<?=$pagetabs['selected_bg']?>;
}
table.pagetabs tr.header td.selected a.deleted {
	color:						<?=$pagetabs['title_fg']?>;
	background-color:	<?=$pagetabs['title_bg']?>;
}
table.pagetabs tr.header td.unselected a.deleted {
	color:						<?=$pagetabs['title_fg']?>;
	background-color:	<?=$pagetabs['title_bg']?>;
}

/* ------------------------------------------------------------------------- */


table.topnav {
	padding:					0px;
	margin:					0px;
	border-spacing:	0px;
	width:						100%;
	background-color: <?=MainBGinv?>;
}
table.topnav td {
	background-color: <?=MainBGinv?>;
	color:						<?=$MainFG?>;
	padding: 4px 10px;
}
table.topnav tr.nav td {
	color:						<?=$MainFGinv?>;
	background-color: <?=$MainBGinv?>;
	padding:					0px 10px;
	margin:					0px;
}
table.topnav tr.nav a {
	color:						<?=$MainFGinv?>;
	background-color: <?=$MainBGinv?>;
}
table.topnav tr.nav a:visited {
	color:						<?=$MainFGinv?>;
	background-color: <?=$MainBGinv?>;
}

/* ------------------------------------------------------------------------- */


table.icons {
	background-color: <?=$PanelBG?>;
	border: 1px solid black;
	margin: 10px;
}
table.icons td {
	text-align: center;
	padding: 0px 5px
}
/* ------------------------------------------------------------------------- */


/* Styles for the edit-box enigma-codes */
strong.ecode_header {
	font-size: 2em;
	color: <?=$MainFGcon?>;
}
strong.ecode_subheader {
	font-size: 1.2em;
	color: <?=$MainFGcon?>;
}
strong.ecode_bolder {
	font-weight: 700;
}
div.ecode_box {
	border: 1px solid black;
}
/* ------------------------------------------------------------------------- */



/* imported mambo styles */
#header {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

#header table.menu {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* ----------------------------- TOPNAV ------------------------------------ */

#topnav
{
	width: 70%;
	height: 40px;
}

#topnav td
{
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
#topnav ul
{
	color: #ffffff;
	margin-top: 9px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	text-align: left;
}
#topnav li
{
	font-size: 16px;
	font-family: Verdana, Geneva, Arial, sans-serif;
	display: inline;
	padding-left: 14px;
	padding-right: 14px;
	border-right: 1px solid white;
}
#topnav li.last
{
	border-right: none;
}
#topnav a
{
	color: #ffffff;
	text-decoration: none;
}
#topnav a:hover
{
	text-decoration: underline;
}

#toprightnav
{
	width: 30%;
	height: 40px;
}
#toprightnav td
{
	text-align: right;
}
#toprightnav ul
{
	color: #ffffff;
	margin: 5px 0 0 0;
	padding: 0
}
#toprightnav li
{
	display: inline;
	padding-left: 14px;
	padding-right: 14px;
	font-weight: bold;
	font-size: 20px;
}
#toprightnav a
{
	color: #ffffff;
	text-decoration: none;
}
#toprightnav a:hover
{
	color: #ffff00;
	text-decoration: underline;
}

/* ------------------------------ MENU ------------------------------------- */

#menu {
	width: 100%;
}

.contentheading
{
	font-size: 20px;
	font-weight: bolder;
	color: #090f70;
}

.contentpaneopen
{
	text-align: justify;
}

#maininnerfull .contentpaneopen
{
	width: 100%;
}

a.readon, a.readon:visited {
	text-decoration: none;
	color: #666666;
	font-weight: normal;
	font-size: 10px;
}

#header td {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 12px;
	vertical-align: top;
	color: <?=$panel['default']['title_fg']?>;
	background-color: <?=$panel['default']['title_bg']?>;
}

#header h2 {
	font-size: 14px;
	font-weight: bold;
}

.moduletablestore {
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
}


/* ------------------------------ Info ------------------------------------- */
div.info {
	margin: 10;
	width: 60%;
	padding: 0 0;
}

div.info div.title {
	padding: 0 5px;
	border: 1px solid	<?=$panel['info']['border']?>;
	background-color: <?=$panel['info']['title_bg']?>;
	color: <?=$panel['info']['title_fg']?>;
}

div.info div {
	padding: 0 5px;
	border-left: 1px solid <?=$panel['info']['border']?>;
	border-right: 1px solid <?=$panel['info']['border']?>;
	border-bottom: 1px solid <?=$panel['info']['border']?>;
	background-color: <?=$panel['info']['bg']?>;
}

div.icons {
	padding: 3px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

div.row {
	border: 1px solid <?=$icons['border']?>;
	width: 120px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

div.icons div.icon {
	display: inline;
	padding: 0 5px 0 0;
	vertical-align: middle;
}
div.icons div.label {
	display: inline;
	vertical-align: middle;
}