body {
    background-color: #E0E0E0;
    color: #444;
}

h1, h2, h1 > a {
    color: #CC3D05;
}

h1 > a:hover {
    color: darkblue;
}

a {
    color: darkblue;
}

a:hover {
    color: #CC3D05;
}

div#title h1 {
    color: #E0E0E0;
    background-color: transparent;
}


div#header h1 {
    background: url(../img/chrome.blue/logo.png) no-repeat left top;
}
@media print {div#header h1 {background-image: none;}}

div#header h1 a,
div#header h1 a:hover {
        background-color: transparent;
}

div#separator_m {background: url(../img/chrome.blue/separator_m.png) repeat-x left top;}
div#separator_l {background: url(../img/chrome.blue/separator_l.png) repeat-y left top;}
div#separator_r {background: url(../img/chrome.blue/separator_r.png) repeat-y right top;}
@media print {div#separator_m {background: none;}}
@media print {div#separator_l {background: none;}}
@media print {div#separator_r {background: none;}}


div#content {background-color: transparent;}
div#content_l {background: #ffffff url(../img/chrome.blue/content_l.png) repeat-y left top;}
div#content_r {background: url(../img/chrome.blue/content_r.png) repeat-y right top;}
div#content_b {background: url(../img/chrome.blue/content_b.png) repeat-x center bottom;}
div#content_bl {background: url(../img/chrome.blue/content_bl.png) no-repeat left bottom;}
div#content_br {background: url(../img/chrome.blue/content_br.png) no-repeat right bottom;}
@media print {div#content_l {background: none;}}
@media print {div#content_r {background: none;}}
@media print {div#content_b {background: none;}}
@media print {div#content_bl {background: none;}}
@media print {div#content_br {background: none;}}


div#footer {
    color: #666;
}

#ajax-save-message {
  border: 2px solid #00aa00;
  color: #00aa00;
  background: #88ff88 url(../img/ajax-loader.gif) center center no-repeat;
}


/* ****************************************************************************/
/* Content styles
/* ****************************************************************************/
th.actions { text-align: center;}

div.x-list div.category {
    border: 2px solid darkBlue;
    background-color: #ccccff;
}

div.x-list div.item {
    border: 2px solid darkRed;
    background-color: #ffcccc;
}

div.x-list div.variation {
    border: 2px solid darkGreen;
    background-color: #ccffcc;
}
