<?php
    header("Content-type: text/css");
    $rightColWidth = 25;
    $rightPaddingRight = 2;
    $rightPaddingLeft = 2;

    $middleColWidth = 50;
    $middlePaddingRight = 2;
    $middlePaddingLeft = 2;

    $leftColWidth = (100 - $rightColWidth - $middleColWidth);
    $leftPaddingRight = 2;
    $leftPaddingLeft = 1;

?>
/* http: //matthewjamestaylor.com/blog/perfect-stacked-columns.htm */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #fff;
    min-width: 600px;
    font-family: sans-serif;
}

h1 {
    margin-top: 0.5em;
    font-size: 1.2em;
}

a, a:visited {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: red;
}

#header {
    clear: both;
    float: left;
    width: 100%;
}
#header {
    border-bottom: 1px solid #000;
}

.col-mask {
    position: relative;	/* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;			/* width of whole page */
    overflow: hidden;		/* This chops off any overhanging divs */
}

.col-mid,
.col-left {
    float: left;
    width: 100%;
    position: relative;
}
.content-1,
.content-2,
.content-3 {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}

/* Two Column Specifics */
.two-col .col-left {
    right: 75%;			/* right column width */
}

.two-col .content-1 {
    width: 71%;			/* right column content width */
    left: 102%;			/* 100% plus left column left padding */
}

.two-col .content-2 {
    width: 21%;			/* left column content width (column width minus left and right padding) */
    left: 6%;			/* (right column left and right padding) plus (left column left padding) */
}

/* Three Column Specifics */
.three-col .col-mid {
    right: <?php echo $rightColWidth;?>%; /* width of the right column */
}

.three-col .col-left {
    right: <?php echo $middleColWidth;?>%; /* width of the middle column */
}

.three-col .content-1 {
    width: 46%; /* width of center column content (column width minus padding on either side) */
    left: <?php echo (100+$middlePaddingLeft);?>%; /* 100% plus left padding of center column */
}

.three-col .content-2 {
    width: <?php echo ($leftColWidth - $leftPaddingLeft - $leftPaddingRight);?>%;  /* Width of left column content (column width minus padding on either side) */
    left: <?php echo ($rightColWidth + ($middlePaddingLeft + $middlePaddingRight) + ($leftPaddingLeft));?>%;
}

.three-col .content-3 {
    width: <?php echo ($rightColWidth - $rightPaddingLeft - $rightPaddingRight);?>%; /* Width of right column content (column width minus padding on either side) */
    left: <?php echo ((100- $leftColWidth) + ($middlePaddingLeft + $middlePaddingRight) + ($leftPaddingLeft + $leftPaddingRight));?>%;
}

/* Footer styles */
#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
    text-align: center;
}

/* Flash Messages */
.flash {
    margin: 1em 0;
    padding: 0.3em;    
}

.flash_failure {
    color: #a00;
    border: 1px solid #a00;
    background-color: #fdd;
}

.flash_success {
    color: #0a0;
    border: 1px solid #0a0;
    background-color: #dfd;
}

/* Menus */
.menutree ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 90%;
}

.menutree ul ul {
    padding-left: 0.5em;
}

/* Lists */
.x-list {
}

.x-listitem {
    clear: both;
}

.x-list div.thumb {
    float: left;
}

/* Footer */
ul.footer {
    padding: 0;
    margin: 0;
}

ul.footer_menu li {
    display: inline;
    list-style-type: none;
}

ul.footer_menu li:before {
    content: ' | ';
}

ul.footer_menu li:first-child:before {
    content: '';
}

/* Forms */
label {
    font-size: 90%;
    color: #0a0;
    font-weight: bold;
}

label {
    display: block;
}

label:after {
    content: ":";
}

.checkbox label {
    display: inline;
}

.checkbox label:after {
    content: "";
}

div.error {
    color: #a00;    
}

div.error input {
    border: 2px solid #a00;
}

/* Debug */
table.cake-sql-log {
	background: #f4f4f4;
    border: 1px solid black;
    font-size: 80%;
}
.cake-sql-log tr {
    vertical-align: top;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
    border-bottom: 1px solid #555;
    border-right: 1px solid #aaa;
}
.cake-sql-log caption {
	color: #fff;
}

p.error {
    xposition: fixed;
    xleft: 1em;
}