* {
    margin:0;
    padding:0;
}

.clear {
    clear: both;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: #E0E0E0;
    color: #444;
}

p {
    text-align: justify;
    margin-top: 0.3em;
}

/* Paragraphs that follow other paragraphs have a paragraph-indent */
p + p {
	text-indent: 1em;
	margin-top: 0.3em;
}

a {
	text-decoration: none;
    color: darkblue;
}

a:hover {
    color: #CC3D05;
}

h1, h1 > a {
	font-size: 1.3em;
	font-weight: bold;
    color: #CC3D05;
}

h1 > a:hover {
    color: darkblue;
}

h2, h2 > a {
	font-size: 1.2em;
	font-weight: bold;
    color: #CC3D05;
}

h3 {
    padding-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
}

div#wrapper {
    margin: 0 5%;
    height: 100%;
}

div#header {
    height: 100px;
    position: relative;
}
@media print {div#header {display: none;}}

div#header > h1 {
    position: absolute;
    width: 330px;
    height: 70px;
    font-size: 2em;
    margin-top: 15px;
    background: url(../img/chrome.blue/logo.png) no-repeat left top;
}
@media print {div#header h1 {background-image: none;}}

div#header > h1 a {
    display: block;
    width: 333px;
    text-indent: -9999px;
	font-size: 55px;
    background-color: transparent;
}

div#header ul {
    position: absolute;
    right: 30px;
    bottom: 25px;
    list-style-type: none;
}

div#header ul li {
    float: left;
    margin: 0 1em;
}

div#header ul li a {
    font-size: 1.2em;
    font-weight: bold;
}

div#separator_m {background: url(../img/chrome.blue/separator_m.png) repeat-x left top;}
div#separator_l {background: url(../img/chrome.blue/separator_l.png) repeat-y left top;}
div#separator_r {background: url(../img/chrome.blue/separator_r.png) repeat-y right top;}
@media print {div#separator_m {background: none;}}
@media print {div#separator_l {background: none;}}
@media print {div#separator_r {background: none;}}

div#separator {
    height: 60px;
}

div#tite {
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}

div#title h1 {
    padding-left: 10px;
    padding-top: 20px;
    color: #E0E0E0;
    background-color: transparent;
}

div#content {background-color: transparent;}
div#content_l {background: #ffffff url(../img/chrome.blue/content_l.png) repeat-y left top;}
div#content_r {background: url(../img/chrome.blue/content_r.png) repeat-y right top;}
div#content_b {background: url(../img/chrome.blue/content_b.png) repeat-x center bottom;}
div#content_bl {background: url(../img/chrome.blue/content_bl.png) no-repeat left bottom;}
div#content_br {background: url(../img/chrome.blue/content_br.png) no-repeat right bottom;}
@media print {div#content_l {background: none;}}
@media print {div#content_r {background: none;}}
@media print {div#content_b {background: none;}}
@media print {div#content_bl {background: none;}}
@media print {div#content_br {background: none;}}

div#content {
    padding: 0px 10px 10px 10px;
}

div#left-navigation {
    width: 200px;
    float: left;
}

div.body-wide {
    left: 200px;
}

div#footer {
    text-align: center;
    padding-bottom: 8px;
	font-size: 0.7em;
    color: #666;
}


/* ****************************************************************************/
/* Content styles
/* ****************************************************************************/
img.thumb {
    float: left;
}
/*
th.actions { text-align: center;}

div.x-list div.category {
    border: 2px solid darkBlue;
    background-color: #ccccff;
}

div.x-list div.item {
    border: 2px solid darkRed;
    background-color: #ffcccc;
}

div.x-list div.variation {
    border: 2px solid darkGreen;
    background-color: #ccffcc;
}

div#left_menu {
	float: left;
}

div#left_menu ul {
	font-size: 0.9em;
    margin: 0em;
}
div#left_menu li {
    margin-left: 1em;
}

div.view {
	float:right;
	width:76%;
}

img.thumb {
    width: 150px;
    float: left;
}

form div {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

span.progress_bar {
    font-family: monospace;
    background-color: lightgrey;
    color: lightgrey;
    border: 1px solid darkgrey;
}

span.progress_bar span.progress_a {
    background-color: darkgreen;
    color: darkgreen;
}

span.progress_bar span.progress_b {
}
*/

/* Debug */
table.cake-sql-log {
	background: #f4f4f4;
    border: 1px solid black;
	xfont-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log tr {
    vertical-align: top;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
    border-bottom: 1px solid #555;
    border-right: 1px solid #aaa;
}
.cake-sql-log caption {
	color:#fff;
}
